{% extends 'base.html' %}

{% block content %}

	<div>{{ data }}</div>
	<form id="search-bar" action="/search">
    <input type="text" placeholder="Search.." name="search" value="{{ search_term }}">
    <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>

  <div class="bulk-results">
  	{% for term, questions in searched_questions %}
  		<div class="search">
  			{{term}}
  		</div>
  		<div class="search-results" style="margin-bottom:10px;">
  			{% for q in questions %}
  			<div style="margin-bottom: 5px;background: beige;">
  				<hr>
  				<span>{{q.question}}</span>
  				<span>{{q.description}}</span>
  				<hr>
  			</div>
  			{% endfor %}
  		</div>
  	{% endfor %}
  </div>

{% endblock %}