{% extends 'base.html' %}

{% block content %}

	<!--  Bootstrap navigation bar -->
	<div>{{ data }}</div>
	<nav class="navbar navbar-light bg-light">
  		<a class="navbar-brand">The Elastic 4</a>
  		<form class="form-inline" action="/search">
    		<input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" value="{{ search_term }}"aria-label="Search">
    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  		</form>
	</nav>

  {% if results != None %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10" id="main-panel">
				<div id="timeline-data" data-timeline="{{ timeline }}"></div>
					<h1>Timeline</h1>
			      	<div id="timeline"></div>
			    </div>
			</div>
		</div>
	  	<div class="row justify-content-center">
			<div class="col-8">
	  			<div class="search">
	  				Showing results for <span>{{ search_term }}</span>
	  			</div>
	  			<div class="search-results">
	      		{% for q in results %}

            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#question-{{q.questionId}}">Question</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#answers-{{q.questionId}}">Answers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link stat-link" data-toggle="tab" href="#statistics-{{q.questionId}}">Statistics</a>
                  </li>
                </ul>
              </div>
              <div class="card-body tab-content">
                <div class="tab-pane fade show active" id="question-{{q.questionId}}" role="tabpanel">
                  <h5 class="card-title">{{q.question}}</h5>
                  <p class="card-text">{{q.description}}</p>
				  <p class="card-text"><small class="text-muted">{{q.date[1:-1]}}</small></p>
                </div>
                <div class="tab-pane fade" id="answers-{{q.questionId}}" role="tabpanel">
                  <h5 class="card-title">Answers</h5>
				  {% if q.answers|length != 0 %}
				  <ul class="list-group list-group-flush">
				  {% for a in q.answers %}
				  <li class="list-group-item">
				  <p class="card-text">{{a.answer}}</p>
			  	  </li>
				  {% endfor %}
				  {% else %}
				  <p class="card-text">Geen antwoorden gevonden</p>
				  {% endif %}

			  </ul>
                </div>
                <div class="tab-pane fade statistics" id="statistics-{{q.questionId}}" role="tabpanel">
                  <h5 class="card-title">Statistics</h5>
					<div class="widget">
					  <div class="wordcloud-data" data-wordcloud="{{ wordcloud[q.questionId] }}" data-id="#chart-{{q.questionId}}">
				      <div id="chart-{{q.questionId}}"></div>
				  	</div>
					</div>
                </div>

              </div>
            </div><br>
	      		{% endfor %}
	  			</div>
			</div>
		</div>
	</div>

<div id="chart"></div>
  <script>
    PANEL_WIDTH = $("#main-panel").width()
    var openPopup = function() {
      $("#popup").show()
    }

    var closePopup = function() {
      $("#popup").hide()
    }


  </script>

  <!-- HISTOGRAM -->
  <script>

  var color = "steelblue";

  // Generate a 1000 data points using normal distribution with mean=20, deviation=5
  // var values = d3.range(1000).map(d3.random.normal(20, 5));
  var values = $('#timeline-data').attr('data-timeline')
  values = JSON.parse(values)
  // values = values.map(Number)
  console.log(typeof(values))

  // A formatter for counts.
  var formatCount = d3.format("");

  var margin = {top: 20, right: 30, bottom: 30, left: 30},
      width = PANEL_WIDTH - margin.left - margin.right,
      height = PANEL_WIDTH/2 - margin.top - margin.bottom;

  var max = d3.max(values);
  var min = d3.min(values);
  /*var x = d3.scale.linear()
        .domain([min, max])
        .range([0, width]);*/
  var x = d3.time.scale().domain([new Date(min), new Date(max)]).range([0, width])

  // Generate a histogram using twenty uniformly-spaced bins.
  var data = d3.layout.histogram()
      .bins(x.ticks(20))
      (values);

  var yMax = d3.max(data, function(d){return d.length});
  var yMin = d3.min(data, function(d){return d.length});
  var colorScale = d3.scale.linear()
              .domain([yMin, yMax])
              .range([d3.rgb(color).brighter(), d3.rgb(color).darker()]);

  var y = d3.scale.linear()
      .domain([0, yMax])
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var svg = d3.select("#timeline").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var bar = svg.selectAll(".bar")
      .data(data)
    .enter().append("g")
      .attr("class", "bar")
      .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

  bar.append("rect")
      .attr("x", 1)
      .attr("width", (x(data[0].dx) - x(0)) - 1)
      .attr("height", function(d) { return height - y(d.y); })
      .attr("fill", function(d) { return colorScale(d.y) });

  bar.append("text")
      .attr("dy", ".75em")
      .attr("y", -12)
      .attr("x", (x(data[0].dx) - x(0)) / 2)
      .attr("text-anchor", "middle")
      .text(function(d) { return formatCount(d.y); });

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
      .call(function() {$('g text').each(function() {
          var text = $(this).text();
          $(this).text(text.replace('.', '2'));
      });});

  </script>

  <!-- WORD CLOUD -->
  <script>

$(document).ready(function(){
	$('.stat-link').click(function(){
		console.log(this)
		var text = $(this).attr('href')
		var wordcloud_text = $(this).parents('.card').find(text).find(".wordcloud-data").attr("data-wordcloud")
		var wordcloud_div_id = $(this).parents('.card').find(text).find(".wordcloud-data").attr("data-id")

		drawWordCloud(wordcloud_text, wordcloud_div_id)
	})
})


	    function drawWordCloud(text_string,location){
	      var common = "\\";
	      var word_count = {};
	      var words = text_string.split(/[ '\-\(\)\*":;\[\]|{},.!?]+/);
	        if (words.length == 1){
	          word_count[words[0]] = 1;
	        } else {
	          words.forEach(function(word){
	            var word = word.toLowerCase();
	            if (word != "" && common.indexOf(word)==-1 && word.length>1){
	              if (word_count[word]){
	                word_count[word]++;
	              } else {
	                word_count[word] = 1;
	              }
	            }
	          })
	        }

	      var svg_location = location;
	      var width = 500;
	      var height = width;

	      var fill = d3.scale.category20();

	      var word_entries = d3.entries(word_count);

	      var xScale = d3.scale.linear()
	         .domain([0, d3.max(word_entries, function(d) {
	            return d.value;
	          })
	         ])
	         .range([10,100]);

		  console.log(text_string)
		  console.log(location)
		  console.log(words)

	      d3.layout.cloud().size([width, height])
			.timeInterval(20)
	        .words(word_entries)
	        .fontSize(function(d) { return xScale(+d.value); })
	        .text(function(d) { return d.key; })
	        .rotate(function() { return ~~(Math.random() * 2) * 90; })
	        .font("Impact")
	        .on("end", draw)
	        .start();

		  console.log("test3")

	      function draw(words) {
	        d3.select(svg_location).append("svg")
	            .attr("width", width)
	            .attr("height", height)
	          .append("g")
	            .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
	          .selectAll("text")
	            .data(words)
	          .enter().append("text")
	            .style("font-size", function(d) { return xScale(d.value) + "px"; })
	            .style("font-family", "Impact")
	            .style("fill", function(d, i) { return fill(i); })
	            .attr("text-anchor", "middle")
	            .attr("transform", function(d) {
	              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	            })
	            .text(function(d) { return d.key; });
	      }

	      d3.layout.cloud().stop();
    }
  </script>
  {% endif %}

{% endblock %}
